#  数据提取

In [1]:
import pandas as pd
from datetime import datetime
df_concat = pd.read_csv(r'..\Data\Format\DATA.csv' )
df_baguan = pd.read_csv(r'..\Data\Format\vent_baguan.csv')

C:\Main\Soft\Conda\envs\DF_process\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (12,13,14,15,17,18,19,20,165,166,167,168,171,172,173,174,175,176,177,178,179,180,181,183,185,186) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
pd.set_option('display.max_columns', 60)
pd.set_option('display.max_rows', 60)

In [3]:
df_baguan.drop(columns = 'Unnamed: 0',inplace=True)

In [4]:
df_baguan.head(5)

,patient_id,入ICU时间,出ICU时间,气切（气切=1）,有创（有创=1）,上机时间,插管时间,拔管时间,拔管结局（失败=1）,撤机时间,第一次SBT时间,28MVfreeday,MVtime,第一次SBT到撤机的时间（天）
0,1001433.0,2020/5/28 22:00:00,2020/6/8 14:00:00,0,1,2020/5/29 21:31:20,2020/5/29 21:31:20,2020/5/30 06:33:19,1.0,2020/6/4 09:22:42,NaN,22 days 12:08:38,5 days 11:51:22,NaN
1,1001433.0,2020/5/28 22:00:00,2020/6/8 14:00:00,0,1,2020/5/29 21:31:20,2020/5/30 16:00:16,2020/6/3 16:00:17,0.0,2020/6/4 09:22:42,NaN,22 days 12:08:38,5 days 11:51:22,NaN
2,1012422.0,2020/9/3 13:00:00,2020/9/7 14:00:00,0,1,2020/9/3 13:51:21,2020/9/3 13:51:21,2020/9/3 20:00:29,0.0,2020/9/3 20:00:29,NaN,27 days 17:50:52,0 days 06:09:08,NaN
3,1027020.0,2020/6/1 14:00:00,2020/6/4 14:00:00,0,1,2020/6/2 17:51:26,2020/6/2 17:51:26,2020/6/3 08:00:27,0.0,2020/6/3 08:00:27,NaN,27 days 09:50:59,0 days 14:09:01,NaN
4,1030486.0,2020/8/31 07:00:00,2020/9/2 16:00:00,0,1,2020/8/31 08:00:16,2020/8/31 08:00:16,2020/9/2 14:00:16,1.0,2020/9/2 14:00:16,NaN,25 days 18:00:00,2 days 06:00:00,NaN

In [5]:
filt = df_baguan['有创（有创=1）'] == 0
df_baguan.loc[filt , '有创（有创=1）']

Series([], Name: 有创（有创=1）, dtype: int64)

In [14]:
df_baguan_c = df_baguan[['patient_id', '入ICU时间', '出ICU时间', '气切（气切=1）', '拔管时间', '拔管结局（失败=1）', '第一次SBT时间']]
df_baguan_c = df_baguan_c.sort_values('patient_id')

In [38]:
df_group = df_baguan_c.groupby('patient_id')

In [58]:
pd.unique(df_baguan_c['patient_id'])

array([1001433., 1012422., 1027020., ..., 8154615., 8158809., 8180893.])

In [71]:
pid_name_list = pd.unique(df_baguan_c['patient_id'].astype(int))

In [24]:
df_concat.head()

,patient_id,icunum,入ICU时间,出ICU时间,气切,是否有创,上机时间,撤机,icu_name,record_id,record_time,ventnum,记录时间_1,RID_1,zdt_1,zpx_1,MODEL_1,记录时间_2,RID_2,zdt_2,zpx_2,MODEL_2,record_flag,data_index,device_ip,Device,Type,Mode,Pinsp,Psupp,...,同型半胱氨酸,前降钙素,Leak,PEF,VC,MIP,抬头,握力,Resp_MV,Resp_P01,Resp_PEEP,Resp_Ps,辅助呼吸肌评分,RSB,ABG_HCO3,ABG_BE,ABG_PACO2,ABG_PAO2,ABG_PH,ABG_FIO2,Resp_VT,Resp_MV_1,Resp_PEEP_1,Resp_Ps_1,Resp_Pi,Resp_Mode,Param_C,Param_R,Param_P01,Param_Ppl
0,1001433.0,1,2020/5/28 22:00:00,2020/6/8 14:00:00,0,1,2020/5/29 21:31:20,2020/6/4 09:22:42,ICU3F,ZD88319120052801P5R,2020-05-29 21:31:20,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,61492108.0,98-D8-63-11-A9-C1,Evita4,IV,BIPAP_ASSIST,20.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001433.0,1,2020/5/28 22:00:00,2020/6/8 14:00:00,0,1,2020/5/29 21:31:20,2020/6/4 09:22:42,ICU3F,ZD88319120052801P5R,2020-05-29 22:00:18,1,2020/5/29 22:00:00,ZD88319120052801P5R,ZD88319120052801P5R_023,ZD88319120052801P5R_023,3.0,NaN,NaN,NaN,NaN,NaN,1.0,179340272.0,98-D8-63-11-A9-C1,Evita4,IV,BIPAP_ASSIST,20.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1001433.0,1,2020/5/28 22:00:00,2020/6/8 14:00:00,0,1,2020/5/29 21:31:20,2020/6/4 09:22:42,ICU3F,ZD88319120052801P5R,2020-05-30 00:00:18,1,2020/5/29 23:04:17,ZD88319120052801P5R,ZD88319120052801P5R_024,ZD88319120052801P5R_024,3.0,NaN,NaN,NaN,NaN,NaN,1.0,415237120.0,98-D8-63-11-A9-C1,Evita4,IV,BIPAP_ASSIST,20.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1001433.0,1,2020/5/28 22:00:00,2020/6/8 14:00:00,0,1,2020/5/29 21:31:20,2020/6/4 09:22:42,ICU3F,ZD88319120052801P5R,2020-05-30 00:00:18,1,2020/5/30 00:00:00,ZD88319120052801P5R,ZD88319120052801P5R_025,ZD88319120052801P5R_025,3.0,NaN,NaN,NaN,NaN,NaN,1.0,415237120.0,98-D8-63-11-A9-C1,Evita4,IV,BIPAP_ASSIST,20.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1001433.0,1,2020/5/28 22:00:00,2020/6/8 14:00:00,0,1,2020/5/29 21:31:20,2020/6/4 09:22:42,ICU3F,ZD88319120052801P5R,2020-05-30 01:32:17,1,2020/5/30 01:00:02,ZD88319120052801P5R,ZD88319120052801P5R_026,ZD88319120052801P5R_026,3.0,NaN,NaN,NaN,NaN,NaN,25.0,533387648.0,98-D8-63-11-A9-C1,Evita4,IV,BIPAP_ASSIST,20.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:

df_baguan_c

,patient_id,入ICU时间,出ICU时间,气切（气切=1）,拔管时间,拔管结局（失败=1）,第一次SBT时间
0,1001433.0,2020/5/28 22:00:00,2020/6/8 14:00:00,0,2020/5/30 06:33:19,1.0,NaN
1,1001433.0,2020/5/28 22:00:00,2020/6/8 14:00:00,0,2020/6/3 16:00:17,0.0,NaN
2,1012422.0,2020/9/3 13:00:00,2020/9/7 14:00:00,0,2020/9/3 20:00:29,0.0,NaN
3,1027020.0,2020/6/1 14:00:00,2020/6/4 14:00:00,0,2020/6/3 08:00:27,0.0,NaN
4,1030486.0,2020/8/31 07:00:00,2020/9/2 16:00:00,0,2020/9/2 14:00:16,1.0,NaN
...,...,...,...,...,...,...,...
2619,8152029.0,2020/2/15 14:00:00,2020/2/21 14:00:00,0,2020/2/18 14:00:15,0.0,NaN
2620,8154615.0,2020/4/30 23:00:00,2020/5/1 07:00:00,0,2020/5/1 06:00:15,0.0,NaN
2621,8158809.0,2020/6/28 19:00:00,2020/6/29 11:00:00,0,2020/6/29 08:34:48,0.0,NaN
2622,8180893.0,2020/7/26 17:00:00,2020/8/4 10:00:00,0,2020/7/26 20:00:17,1.0,NaN
2623,8180893.0,2020/7/26 17:00:00,2020/8/4 10:00:00,0,2020/7/27 15:02:22,0.0,NaN

In [41]:
df_baguan_c['拔管时间'] = pd.to_datetime(df_baguan_c['拔管时间'], format = '%Y/%m/%d %X')

In [42]:
df_baguan_c['拔管时间'].head()

0   2020-05-30 06:33:19
1   2020-06-03 16:00:17
2   2020-09-03 20:00:29
3   2020-06-03 08:00:27
4   2020-09-02 14:00:16
Name: 拔管时间, dtype: datetime64[ns]

In [52]:
df_concat.loc[8,'record_time']

'2020-05-30 06:00:16'

In [54]:
df_concat.loc[8,'记录时间_1']

'2020/5/30 05:24:39'

In [55]:
df_concat.loc[9,'记录时间_1']

'2020/5/30 06:00:01'