In [1]:
import sys, pathlib
sys.path.append(str(pathlib.Path.cwd().parents[0]))

In [2]:
from Code import FormPreProcess, InIReaWri

In [3]:
concat_loc = InIReaWri.ConfigR('FormRoute', 'MainDataForm', conf=None)
baguan_loc = InIReaWri.ConfigR('FormRoute', 'BaguanForm', conf=None)

In [4]:
df_concat = FormPreProcess.FormProcess(concat_loc, ['上机时间'], 'patient_id')
df_baguan = FormPreProcess.FormProcess(baguan_loc, ['上机时间'], 'patient_id')

C:\Main\Soft\Conda\envs\DF_process\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (12,13,14,15,17,18,19,20,165,166,167,168,171,172,173,174,175,176,177,178,179,180,181,183,185,186) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [5]:
timecol = [
    "入ICU时间",
    "出ICU时间",
    "上机时间",
    "撤机",
    "record_time",
    "记录时间_1",
    "插管时间",
    "拔管时间",
    "撤机时间",
    "第一次SBT时间",
]
FormPreProcess.TimeShift(df_concat, timecol)
FormPreProcess.TimeShift(df_baguan, timecol)

In [6]:
df_concat.sort_values(by='记录时间_1',ascending=False).loc[160272,['入ICU时间', '出ICU时间', '上机时间', '撤机', 'record_time', '记录时间_1']]

入ICU时间         2020-10-25 14:00:00
出ICU时间         2020-10-28 10:00:00
上机时间           2020-10-25 15:43:00
撤机             2020-10-25 16:12:20
record_time    2020-10-25 16:03:25
记录时间_1         2020-10-25 15:48:58
Name: 160272, dtype: object

In [7]:
df_baguan.head()

,Unnamed: 0,patient_id,入ICU时间,出ICU时间,气切（气切=1）,有创（有创=1）,上机时间,插管时间,拔管时间,拔管结局（失败=1）,撤机时间,第一次SBT时间,28MVfreeday,MVtime,第一次SBT到撤机的时间（天）,Index
0,0,1001433,2020-05-28 22:00:00,2020-06-08 14:00:00,0,1,2020-05-29 21:31:20,2020-05-29 21:31:20,2020-05-30 06:33:19,1.0,2020-06-04 09:22:42,NaT,22 days 12:08:38,5 days 11:51:22,NaN,0
1,1,1001433,2020-05-28 22:00:00,2020-06-08 14:00:00,0,1,2020-05-29 21:31:20,2020-05-30 16:00:16,2020-06-03 16:00:17,0.0,2020-06-04 09:22:42,NaT,22 days 12:08:38,5 days 11:51:22,NaN,1
2,2,1012422,2020-09-03 13:00:00,2020-09-07 14:00:00,0,1,2020-09-03 13:51:21,2020-09-03 13:51:21,2020-09-03 20:00:29,0.0,2020-09-03 20:00:29,NaT,27 days 17:50:52,0 days 06:09:08,NaN,2
3,3,1027020,2020-06-01 14:00:00,2020-06-04 14:00:00,0,1,2020-06-02 17:51:26,2020-06-02 17:51:26,2020-06-03 08:00:27,0.0,2020-06-03 08:00:27,NaT,27 days 09:50:59,0 days 14:09:01,NaN,3
4,6,1030486,2020-08-31 07:00:00,2020-09-02 16:00:00,0,1,2020-08-31 08:00:16,2020-08-31 08:00:16,2020-09-02 14:00:16,1.0,2020-09-02 14:00:16,NaT,25 days 18:00:00,2 days 06:00:00,NaN,4