In [1]:
import pandas as pd

In [2]:
df_rsbi = pd.read_csv(r"..\Data\Result\rsbi_r.csv")
df_concat = pd.read_csv(r"..\Data\Format\DATA.csv)
pd.set_option('display.max_columns', 60)
pd.set_option('display.max_rows', 60)

In [3]:
df.shape

(8630, 14)

In [4]:
df_1 = df.dropna(how='any',subset=['zdt_1'])

In [5]:
df_1.shape

(3625, 14)

In [19]:
df_1.head(10)

,PID,Record_t,Record_id,Resp_t,zdt_1,zpx_1,Heart_t,zdt_2,zpx_2,tracheotomy,endo_t,endo_end,SBT_time,SBT_days
0,4109828,2020-01-01 08:00:16,ZDC555F219123101EID,2020-01-01 06:01:27,ZDC555F219123101EID_018,ZDC555F219123101EID_018,NaN,NaN,NaN,0,2020-01-01 09:02:59,0.0,NaN,NaN
1,4109828,2020-01-01 08:00:16,ZDC555F219123101EID,2020-01-01 07:44:06,ZDC555F219123101EID_019,ZDC555F219123101EID_019,NaN,NaN,NaN,0,2020-01-01 09:02:59,0.0,NaN,NaN
2,5568391,2020-01-01 10:14:32,ZD883B2920010100G92,2020-01-01 09:00:00,ZD883B2920010100G92_006,ZD883B2920010100G92_006,NaN,NaN,NaN,0,2020-01-01 11:03:21,0.0,NaN,NaN
3,5568391,2020-01-01 10:14:32,ZD883B2920010100G92,2020-01-01 10:00:00,ZD883B2920010100G92_007,ZD883B2920010100G92_007,NaN,NaN,NaN,0,2020-01-01 11:03:21,0.0,NaN,NaN
4,5568391,2020-01-01 11:03:21,ZD883B2920010100G92,2020-01-01 11:00:02,ZD883B2920010100G92_008,ZD883B2920010100G92_008,NaN,NaN,NaN,0,2020-01-01 11:03:21,0.0,NaN,NaN
5,5560751,2020-01-01 12:00:16,ZD88315D1912300149L,2020-01-01 10:55:10,ZD88315D1912300149L_054,ZD88315D1912300149L_054,NaN,NaN,NaN,0,2020-01-01 14:00:15,0.0,NaN,NaN
6,5560751,2020-01-01 12:00:16,ZD88315D1912300149L,2020-01-01 11:54:30,ZD88315D1912300149L_055,ZD88315D1912300149L_055,NaN,NaN,NaN,0,2020-01-01 14:00:15,0.0,NaN,NaN
7,5560751,2020-01-01 13:01:11,ZD88315D1912300149L,2020-01-01 12:45:32,ZD88315D1912300149L_056,ZD88315D1912300149L_056,NaN,NaN,NaN,0,2020-01-01 14:00:15,0.0,NaN,NaN
8,3044500,2020-01-02 07:22:28,ZP0EBDB119122000YYE,2020-01-02 07:00:00,ZP0EBDB119122000YYE_299,ZP0EBDB119122000YYE_299,NaN,NaN,NaN,0,2020-01-02 09:08:53,0.0,NaN,NaN
9,3044500,2020-01-02 08:47:06,ZP0EBDB119122000YYE,2020-01-02 08:41:51,ZP0EBDB119122000YYE_300,ZP0EBDB119122000YYE_300,NaN,NaN,NaN,0,2020-01-02 09:08:53,0.0,NaN,NaN

In [7]:
df_1 = df_1.sort_values(by=['Record_t','Resp_t'])
df_1 = df_1.reset_index(drop=True)

In [8]:
df_1.head(5)

,PID,Record_t,Record_id,Resp_t,zdt_1,zpx_1,Heart_t,zdt_2,zpx_2,tracheotomy,endo_t,endo_end,SBT_time,SBT_days
0,4109828,2020-01-01 08:00:16,ZDC555F219123101EID,2020-01-01 06:01:27,ZDC555F219123101EID_018,ZDC555F219123101EID_018,NaN,NaN,NaN,0,2020-01-01 09:02:59,0.0,NaN,NaN
1,4109828,2020-01-01 08:00:16,ZDC555F219123101EID,2020-01-01 07:44:06,ZDC555F219123101EID_019,ZDC555F219123101EID_019,NaN,NaN,NaN,0,2020-01-01 09:02:59,0.0,NaN,NaN
2,5568391,2020-01-01 10:14:32,ZD883B2920010100G92,2020-01-01 09:00:00,ZD883B2920010100G92_006,ZD883B2920010100G92_006,NaN,NaN,NaN,0,2020-01-01 11:03:21,0.0,NaN,NaN
3,5568391,2020-01-01 10:14:32,ZD883B2920010100G92,2020-01-01 10:00:00,ZD883B2920010100G92_007,ZD883B2920010100G92_007,NaN,NaN,NaN,0,2020-01-01 11:03:21,0.0,NaN,NaN
4,5568391,2020-01-01 11:03:21,ZD883B2920010100G92,2020-01-01 11:00:02,ZD883B2920010100G92_008,ZD883B2920010100G92_008,NaN,NaN,NaN,0,2020-01-01 11:03:21,0.0,NaN,NaN

In [9]:
pd.DataFrame.to_csv(df_1,r'..\Data\Result\rsbi_c.csv',index=False)

In [10]:
df_1['PID'].unique().size

1326

In [11]:
df_time = pd.read_csv(r'..\Data\Result\time_miss.csv')

In [12]:
df_time['patient_id'].unique().size

84

In [13]:
df_time.shape

(84, 15)

In [ ]:
df_1_gp